<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bsb.dao.DataMapper">
    <resultMap id="BaseResultMap" type="com.bsb.pojo.Data">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="timestamp" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="temperature" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="humidity" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="pm25" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="pm10" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="so2" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="no2" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="o3" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="co" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="aqi" jdbcType="DOUBLE" javaType="java.lang.Double"/>
        </constructor>

        <!--<id property="id" column="id"/>-->
        <!--<result property="user_name" column="user_name"/>-->
        <!--<result property="password" column="password"/>-->
        <!--<result property="sex" column="sex"/>-->
        <!--<result property="real_name" column="real_name"/>-->
        <!--<result property="id_card" column="id_card"/>-->
        <!--<result property="address" column="address"/>-->
        <!--<result property="mobilephone" column="mobilephone"/>-->
        <!--<result property="email" column="email"/>-->
        <!--<result property="create_time" column="create_time"/>-->
        <!--<result property="update_time" column="update_time"/>-->
    </resultMap>
</mapper>